<h3>Person Details</h3>
@if (CurrentNPerson is not null)
{
    <p>Lastname : @CurrentNPerson.Lastname</p>
    <p>Firstname : @CurrentNPerson.Firstname</p>
    <p>BirthDate : @CurrentNPerson.BirthDate</p>
    <p>Email : @CurrentNPerson.Email</p>
    <p>Address_Street : @CurrentNPerson.Address_Street</p>
    <p>Address_Nbr : @CurrentNPerson.Address_Nbr</p>
    <p>PostalCode : @CurrentNPerson.PostalCode</p>
    <p>Address_City : @CurrentNPerson.Address_City</p>
    <p>Address_Country : @CurrentNPerson.Address_Country</p>
    <p>Telephone : @CurrentNPerson.Telephone</p>
    <p>Gsm : @CurrentNPerson.Gsm</p>
}
@code {

}
